<hr style="height: 1px;
background-image: -webkit-linear-gradient(left, #f0f0f0, #3baf6f, #f0f0f0);
background-image: -moz-linear-gradient(left, #f0f0f0,##3baf6f, #f0f0f0);
background-image: -ms-linear-gradient(left, #f0f0f0, #3baf6f, #f0f0f0);
background-image: -o-linear-gradient(left, #f0f0f0, #3baf6f, #f0f0f0); border: 0;" />

<br />

<div style="width: 300px; margin: 0 auto; color: #999; line-height: 1.5">
  Birrrlll
</div>
